<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Qr Code Management</h5>
          <button type="button" class="btn btn-success" (click)="openGenerate(classic)">Generate New</button>
          <button type="button" class="btn btn-custom" [routerLink]="['/unprinted']" [disabled]="ounprinted < 1">Unprinted ({{ ounprinted / pageSize }} {{ ounprinted / pageSize < 2 ? 'Page' : 'Pages'}})</button>
        </div>
        <div class="card-body">
          <table class="mat-elevation-z8 table table-hover">
            <thead>
              <tr>
                <th>Generated</th>
                <th>Printed</th>
                <th>Unprinted</th>
                <th>Mapped</th>
                <th>Unmapped</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!isLoading">
                <td> {{ ogenerated }}</td>
                <td> {{ oprinted }}</td>
                <td> {{ ounprinted }}</td>
                <td> {{ omapped }}</td>
                <td> {{ ounmapped }}</td>
              </tr>
              <tr *ngIf="isLoading">
                <td colspan="5" class="text-center"> Loading...</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title text-center">Generate QR Code</h5>
        <button type="button" class="close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Pages of QR Codes</label>
        <input class="form-control" type="number" [(ngModel)]="numberOfPages">
      </div>
    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
          <button type="button" class="btn btn-success" (click)="generateCode()">Generate</button>
        </div>
    </div>
  </ng-template>