<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Users</h5>
          <button type="button" class="btn btn-success" (click)="openNewUser(newuser)">Add New</button>
          <button type="button" class="btn btn-custom" [routerLink]="['/roles']">Manage Roles</button>
          <mat-form-field class="col-sm-3 pull-right">
              <input matInput class="form-control" (keyup)="applyFilter($event.target.value)" placeholder="Filter..." [(ngModel)]="filterValue">
            </mat-form-field>
        </div>
        <div class="card-body">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-hover" matSort>
                <!-- Username-->
                <ng-container matColumnDef="username">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
                  <td mat-cell *matCellDef="let element"> {{ element.username }} </td>
                </ng-container>
  
                <!-- Display Name -->
                <ng-container matColumnDef="displayName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Display Name</th>
                    <td mat-cell *matCellDef="let element"> {{ element.displayName }} </td>
                  </ng-container>

                <!-- Password -->
                <ng-container matColumnDef="password">
                  <th mat-header-cell *matHeaderCellDef>Password</th>
                  <td mat-cell *matCellDef="let element">
                    <button class="btn btn-custom" (click)="openResetPassword(passwordreset, element)">Change Password</button>
                  </td>
                </ng-container>

                  <!-- Email-->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                    <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
                  </ng-container>

                  <!-- IsActive -->
                <ng-container matColumnDef="isActive">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>IsActive</th>
                    <td mat-cell *matCellDef="let element"> 
                        <span class="badge {{ element.isActive ? 'badge-success' : 'badge-danger' }}">
                          {{ element.isActive ? 'Active' : 'Inactive' }}
                        </span>
                    </td>
                  </ng-container>

                  <!-- Role -->
                <ng-container matColumnDef="role">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
                  <td mat-cell *matCellDef="let element"> 
                    <span *ngIf="element.roleId">{{ element.roleName }}</span>
                  </td>
                </ng-container>
  
                  <!-- Created By -->
                <ng-container matColumnDef="insertUser">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
                    <td mat-cell *matCellDef="let element"> {{ element.insertUser }} </td>
                  </ng-container>
  
                  <!-- Date Created -->
                <ng-container matColumnDef="insertDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Created</th>
                    <td mat-cell *matCellDef="let element"> {{ element.insertDate | date: 'MMM d, y, h:mm:ss a' }} </td>
                  </ng-container>
  
                  <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element;">
                      <span *ngIf="element.roleId"><button class="btn btn-custom" (click)="openEditRole(classic, element)">Change Role</button></span>
                      <span *ngIf="!element.roleId"><button class="btn btn-custom" (click)="openEditRole(classic, element)">Assign Role</button></span>
                      <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-link btn-sm" data-toggle="modal" data-target="#ServiceTypeModal" (click)="openEditUser(newuser, element)">
                        <i class="material-icons">edit</i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm" (click)="removeItem(element)">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <div *ngIf="users.length === 0 && !isLoading" class="text-center">No data</div>
              <div *ngIf="isLoading" class="text-center">Loading....</div>
              <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator> 
        </div>
      </div>
    </div>

  </div>
</div>
<ng-template #classic let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h5 class="modal-title text-center">Manage Role</h5>
      <button type="button" class="close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input class="form-control" [(ngModel)]="username" disabled="disabled">
    </div>
    <div class="form-group">
      <select class="form-control" (change)="filterRole($event.target.value)">
          <option>--Select Role--</option>
          <option *ngFor="let role of roles" value={{role.roleId}} selected="{{ role.roleId === roleId ? 'selected' : ''}}">
              {{role.roleName}}
          </option>
      </select>
    </div>
    <div class="form-group" *ngIf="isHealthStaff">
      <label>Local Government Area</label>
      <select class="form-control" (change)="filterLGA($event.target.value)" [(ngModel)]="lgaId">
        <option>--Select LGA--</option>
        <option *ngFor="let item of lgas" value='{{item.lgaId}}'>
            {{item.lga}}
        </option>
      </select>
    </div>
    <div class="form-group" *ngIf="isHealthStaff && wards.length > 0">
        <label>Ward</label>
        <select class="form-control" (change)="filterWard($event.target.value)" [(ngModel)]="wardId">
            <option>--Select Ward--</option>
            <option *ngFor="let ward of wards" value={{ward.wardId}}>
                {{ward.ward}}
            </option>
        </select>
      </div>
    <div class="form-group" *ngIf="isHealthStaff && phcs.length > 0">
        <label>PHC</label>
        <select class="form-control" [(ngModel)]="phcId">
          <option>--Select PHC--</option>
          <option *ngFor="let phc of phcs" value={{phc.phcId}}>
            {{ phc.phc}}
          </option>
        </select>
      </div>
  </div>
  <div class="modal-footer">
      <div class="left-side">
          <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
      </div>
      <div class="divider"></div>
      <div class="right-side">
        <button type="button" class="btn btn-success" (click)="saveRole()">Save</button>
      </div>
  </div>
</ng-template>

<ng-template #newuser let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title text-center">{{modalTitle}}</h5>
        <button type="button" class="close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Username </label>
        <input class="form-control" [(ngModel)]="username">
      </div>
      <div class="form-group">
          <label>Display Name </label>
        <input class="form-control" [(ngModel)]="displayName">
      </div>
      <div class="form-group" *ngIf="!editMode">
          <label>Password </label>
        <input type="password" class="form-control" [(ngModel)]="password">
      </div>
      <div class="form-group" *ngIf="!editMode">
          <label>Confirm Password </label>
        <input type="password" class="form-control" [(ngModel)]="password2">
      </div>
      <div class="form-group">
        <label>Email </label>
        <input class="form-control" [(ngModel)]="email">
      </div>
      <div class="form-group pull-right" *ngIf="editMode">
          <div class="form-check">
              <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" [(ngModel)]="isActive" value="{{isActive}}" checked="{{ isActive ? 'checked': ''}}">
                  Set as Active
                  <span class="form-check-sign"></span>
              </label>
          </div>
      </div>
    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
          <button type="button" class="btn btn-success" (click)="updateUser()" *ngIf="editMode">Update</button>
          <button type="button" class="btn btn-success" (click)="saveUser()" *ngIf="!editMode">Save</button>
        </div>
    </div>
  </ng-template>

  <ng-template #passwordreset let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title text-center">Reset Password</h5>
        <button type="button" class="close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Username</label>
        <input class="form-control" [(ngModel)]="username" disabled="disabled">
      </div>
      <div class="form-group">
        <label>New Password</label>
        <input class="form-control" [(ngModel)]="password" type="password">
      </div>
    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
          <button type="button" class="btn btn-success" (click)="resetPassword()">Save</button>
        </div>
    </div>
  </ng-template>