<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Patients</h5>
            <button mat-raised-button type="button" class="btn btn-custom" (click)="exportTable()">
              Export as Excel <i class="fa fa-file-excel"></i>
            </button>
            <!-- <button mat-raised-button type="button" class="btn btn-custom">Export</button> -->
            <mat-form-field class="col-sm-3 pull-right">
              <input matInput class="form-control" (keyup)="applyFilter($event.target.value)" placeholder="Filter..." [(ngModel)]="filterValue">
            </mat-form-field>
          </div>
          <div class="card-body" #TABLE>
              <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 table table-hover" matSort>

                <!-- First Name -->
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
                    <td mat-cell *matCellDef="let element"> {{ element.firstName }} </td>
                  </ng-container>

                  <!-- Middle Name-->
                <ng-container matColumnDef="middleName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Middle Name</th>
                    <td mat-cell *matCellDef="let element"> {{ element.middleName }} </td>
                  </ng-container>

                  <!-- Last Name -->
                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
                    <td mat-cell *matCellDef="let element"> {{ element.lastName }} </td>
                  </ng-container>

                  <!-- Date of Birth-->
                  <ng-container matColumnDef="dob">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>DOB</th>
                    <td mat-cell *matCellDef="let element"> {{ element.dob | date }} </td>
                  </ng-container>  

                  <!-- Phone -->
                  <ng-container matColumnDef="phone">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone 1</th>
                      <td mat-cell *matCellDef="let element"> {{ element.phone }} </td>
                    </ng-container>
   
                  <!-- Alt Phone -->
                  <ng-container matColumnDef="altPhone">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone 2</th>
                      <td mat-cell *matCellDef="let element"> {{ element.altPhone }} </td>
                    </ng-container>

                    <!-- Ward -->
                  <ng-container matColumnDef="ward">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ward</th>
                      <td mat-cell *matCellDef="let element"> {{ element.ward }} </td>
                    </ng-container>
  
                  <!-- Settlement -->
                  <ng-container matColumnDef="settlement">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Settlement</th>
                      <td mat-cell *matCellDef="let element"> {{ element.settlement }} </td>
                    </ng-container>
                    
                    <!-- Date Created -->
                  <ng-container matColumnDef="insertDate">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Created</th>
                      <td mat-cell *matCellDef="let element"> {{ element.insertDate | date: 'MMM d, y, h:mm:ss a' }} </td>
                    </ng-container>
    
                    <!-- Created By -->
                  <ng-container matColumnDef="insertUser">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
                      <td mat-cell *matCellDef="let element"> {{ element.insertUser }} </td>
                    </ng-container>
  
                    <!-- PHC -->
                    <ng-container matColumnDef="phc">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>PHC</th>
                        <td mat-cell *matCellDef="let element"> {{ element.phc }} </td>
                      </ng-container>

                      <!-- Actions Column -->
                  <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef>Actions</th>
                      <td mat-cell *matCellDef="let element;">
                        <button type="button" class="btn btn-custom disabled">Appointments</button>
                      </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div *ngIf="patients.length === 0 && !isLoading" class="text-center">No data</div>
                <div *ngIf="isLoading" class="text-center">Loading....</div>
                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>  
            </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #classic let-c="close" let-d="dismiss">
      <div class="modal-header">
          <h5 class="modal-title text-center">{{ modalTitle }}</h5>
          <button type="button" class="close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>First Name</label>
          <input class="form-control" [(ngModel)]="firstName">
        </div>
        <div class="form-group">
          <label>Middle Name</label>
          <input class="form-control" [(ngModel)]="middleName">
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input class="form-control" [(ngModel)]="lastName">
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input class="form-control" [(ngModel)]="phone">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" [(ngModel)]="email">
        </div>
        <div class="form-group">
          <label>Date of Birth</label>
          <input class="form-control" [(ngModel)]="dob" type="date">
        </div>
        <div class="form-group">
            <label>Settlement</label>
            <select class="form-control" (change)="filterForeCasts($event.target.value)" [(ngModel)]="settlementId">
              <option value='0'>--Select Settlement--</option>
              <option *ngFor="let item of settlements" value='{{item.settlementId}}'>
                  {{item.settlement}}
              </option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
          <div class="left-side">
              <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <button type="button" class="btn btn-success" (click)="updateItem()" *ngIf="editMode">Update</button>
            <button type="button" class="btn btn-success" (click)="addItem()" *ngIf="!editMode">Save</button>
          </div>
      </div>
    </ng-template>