<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Appointment Report</h5>
          <div class="row">
            <mat-form-field class="col-sm-4">
              <label class="control-label">Start Date</label>
              <input matInput [matDatepicker]="startpicker" [(ngModel)]="startDate">
              <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
              <mat-datepicker #startpicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-sm-4">
              <label class="control-label">End Date</label>
              <input matInput [matDatepicker]="endpicker" [(ngModel)]="endDate">
              <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
              <mat-datepicker #endpicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="row col-sm-4">
            <button mat-raised-button type="button" class="btn btn-custom" (click)="GetAppointmentsRange()">
              Generate <i class="fa fa-download"></i>
            </button>
            <button mat-raised-button type="button" class="btn btn-custom" (click)="exportTable()" *ngIf="appointments.length > 0">
              Export as Excel <i class="fa fa-file-excel"></i>
            </button>
          </div>
        </div>
        <div class="card-body" #TABLE>
            <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 table table-hover" matSort>

              <!-- First Name -->
              <ng-container matColumnDef="fullName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</th>
                  <td mat-cell *matCellDef="let element"> {{ element.fullName }} </td>
                </ng-container>

                <!-- Middle Name-->
              <ng-container matColumnDef="qrCode">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>QR Code</th>
                  <td mat-cell *matCellDef="let element"> {{ element.qrCode }} </td>
                </ng-container>

                <!-- Last Name -->
              <ng-container matColumnDef="phone">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
                  <td mat-cell *matCellDef="let element"> {{ element.phone }} </td>
                </ng-container>

                <!-- Date of Birth-->
                <ng-container matColumnDef="serviceKindName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Service Kind</th>
                  <td mat-cell *matCellDef="let element"> {{ element.serviceKindName }} </td>
                </ng-container>  

                <!-- Phone -->
                <ng-container matColumnDef="serviceTypeName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Service Type</th>
                    <td mat-cell *matCellDef="let element"> {{ element.serviceTypeName }} </td>
                  </ng-container>
  
                <!-- Alt Phone -->
                <ng-container matColumnDef="appointmentDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Appointment Date</th>
                    <td mat-cell *matCellDef="let element"> {{ formatDate(element.appointmentDate) }} </td>
                  </ng-container>

                  <!-- Ward -->
                <ng-container matColumnDef="confirmationDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Returned Date</th>
                    <td mat-cell *matCellDef="let element"> {{ checkDate(element.confirmationDate) }} </td>
                  </ng-container>

                <!-- Settlement -->
                <ng-container matColumnDef="settlement">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Settlement</th>
                    <td mat-cell *matCellDef="let element"> {{ element.settlement }} </td>
                  </ng-container>
                  
                  <!-- Date Created -->
                <ng-container matColumnDef="ward">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ward</th>
                    <td mat-cell *matCellDef="let element"> {{ element.ward }} </td>
                  </ng-container>
  
                  <!-- Created By -->
                <ng-container matColumnDef="lga">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>LGA</th>
                    <td mat-cell *matCellDef="let element"> {{ element.lga }} </td>
                  </ng-container>

                    <!-- Created By -->
                <ng-container matColumnDef="phc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>PHC</th>
                    <td mat-cell *matCellDef="let element"> {{ element.phc }} </td>
                  </ng-container>

                  <!-- PHC -->
                  <ng-container matColumnDef="reminderStatus">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>SMS Sent</th>
                      <td mat-cell *matCellDef="let element"> {{ element.reminderStatus }} </td>
                    </ng-container>

                  <!-- PHC -->
                  <ng-container matColumnDef="dateSent">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Sent</th>
                      <td mat-cell *matCellDef="let element"> {{ checkDate(element.dateSent) }} </td>
                    </ng-container>

                  <!-- PHC -->
                  <ng-container matColumnDef="intervention">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Intervention</th>
                    <td mat-cell *matCellDef="let element"> {{ element.intervention }} </td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <div *ngIf="appointments.length === 0 && !isLoading" class="text-center">No data</div>
              <div *ngIf="isLoading" class="text-center">Loading....</div>
              <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>  
          </div>
      </div>
    </div>
  </div>
</div>