<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Patients</h5>
            <button type="button" class="btn btn-success" (click)="openNew(classic)">Add New</button>
            <button mat-raised-button type="button" class="btn btn-info" [routerLink]="['/user-management']">
              <i class="now-ui-icons arrows-1_minimal-left"></i> Back to Users Management
            </button>
            <mat-form-field class="col-sm-3 pull-right">
              <input matInput class="form-control" (keyup)="applyFilter($event.target.value)" placeholder="Filter..." [(ngModel)]="filterValue">
            </mat-form-field>
          </div>
          <div class="card-body">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-hover" matSort>

                <!-- Role Name -->
                <ng-container matColumnDef="roleName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
                    <td mat-cell *matCellDef="let element"> {{ element.roleName }} </td>
                  </ng-container>

                <!-- Role Permissions -->
                <ng-container matColumnDef="permissions">
                  <th mat-header-cell *matHeaderCellDef>Role Permissions</th>
                  <td mat-cel *matCellDef="let element"><button type="button" class="btn btn-custom">Edit Role Permissions</button></td>
                </ng-container>
    
                    <!-- Actions Column -->
                  <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef>Actions</th>
                      <td mat-cell *matCellDef="let element;">
                        <button type="button" rel="tooltip" title="Edit" class="btn btn-info btn-link btn-sm" (click)="openEdit(classic, element)">
                          <i class="material-icons">edit</i>
                        </button>
                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm" (click)="removeItem(element, filterValue)">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div *ngIf="roles.length === 0 && !isLoading" class="text-center">No data</div>
                <div *ngIf="isLoading" class="text-center">Loading....</div>
                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>  
            </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #classic let-c="close" let-d="dismiss">
      <div class="modal-header">
          <h5 class="modal-title text-center">Add New Role</h5>
          <button type="button" class="close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input class="form-control" [(ngModel)]="roleName" placeholder="Enter a role....">
        </div>
      </div>
      <div class="modal-footer">
          <div class="left-side">
              <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <button type="button" class="btn btn-success" (click)="update()" *ngIf="editMode">Update</button>
            <button type="button" class="btn btn-success" (click)="save()" *ngIf="!editMode">Save</button>
          </div>
      </div>
     </ng-template>